
<div class="page-wrapper">
 
  
  <div class="container-fluid">
          <div class="row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="white-box user-table">
                          <div class="row">
                              <div class="col-sm-12">
                                  <h4 class="box-title">Liste des registrars </h4>
                              </div>
                              <div class="col-sm-12">
                                  <ul class="list-inline">
                                      <li>
                                          <a href="javascript:void(0);" class="btn btn-default btn-outline font-16"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                      </li>
                                      <li>
                                          <a href="javascript:void(0);" class="btn btn-default btn-outline font-16"><i class="fa fa-commenting" aria-hidden="true"></i></a>
                                      </li>
                                  </ul>
                                  <select class="custom-select">
                                      <option selected>Trier par</option>
                                      <option value="1">Noms ou raison social</option>
                                      <option value="2">Type</option>
                                      <option value="3">Statuts</option>
                                      
                                  </select>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c1" type="checkbox">
                                                  <label for="c1"></label>
                                              </div>
                                          </th>
                                          <th>Nom ou raison social</th>
                                          <th>Statuts</th>
                                          <th>Type</th>
                                          <th>Adresse</th>
                                          
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c2" type="checkbox">
                                                  <label for="c2"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Kheweul.com</a></td>
                                          <td>actif</td>
                                          <td>Nationaux</td>
                                          <td> Fan Hock</td>
                                      
                                      </tr>
                                      <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c2" type="checkbox">
                                                <label for="c2"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">OVH</a></td>
                                        <td>bloqué</td>
                                        <td>Nationaux</td>
                                        <td> Fan Hock</td>
                                    
                                    </tr>
                                    <tr>
                                      <td>
                                          <div class="checkbox checkbox-info">
                                              <input id="c2" type="checkbox">
                                              <label for="c2"></label>
                                          </div>
                                      </td>
                                      <td><a href="javascript:void(0);" class="text-link">IKAN-Compagny</a></td>
                                      <td>actif</td>
                                      <td>Nationaux</td>
                                      <td> Fan Hock</td>
                                  
                                  </tr>
                                  <tr>
                                    <td>
                                        <div class="checkbox checkbox-info">
                                            <input id="c2" type="checkbox">
                                            <label for="c2"></label>
                                        </div>
                                    </td>
                                    <td><a href="javascript:void(0);" class="text-link">NIC Senegal</a></td>
                                    <td>actif</td>
                                    <td>Nationaux</td>
                                    <td> Fan Hock</td>
                                
                                </tr>
                                      <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c2" type="checkbox">
                                                <label for="c2"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">BASSINE</a></td>
                                        <td>actif</td>
                                        <td>Nationaux</td>
                                        <td> Fan Hock</td>
                                    
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                          <ul class="pagination">
                              <li class="disabled"> <a href="#">1</a> </li>
                              <li class="active"> <a href="#">2</a> </li>
                              <li> <a href="#">3</a> </li>
                              <li> <a href="#">4</a> </li>
                              <li> <a href="#">5</a> </li>
                          </ul>
                          <a routerLink="/accueil/registrars/addregistrar" class="btn btn-success pull-right m-t-10 font-20">+</a>
                      </div>
                  </div>
                </div>
    
     
  </div>
 

</div>

</div>


