

 
  
  <div class="container-fluid">
    
 


<div class="row">
        <div class="col-md-12">
            <div class="white-box user-table">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="box-title">Liste des registrars</h4>
                    </div>
                    <div class="col-sm-12">
                        <ul class="list-inline">
                                <li>
                                        <button type="button" class="col-md-6" style="font-size: 15px">Modifier</button>
                                        <button type="button" class="col-md-6" style="font-size: 15px">Supprimer</button>
                                    </li> 
                        </ul>
                        <select class="custom-select" style="height: 60px;">
                                <option selected>Trier par</option>
                                <option value="1">Nom ou raison social</option>
                                <option value="2">Type</option>
                                <option value="3">Statuts</option>
                                <option value="3">Etats</option>
                                
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                    <th>
                                              
                                        </th>
                                        <th style="font-size: 14px"> Nom ou raison social</th>
                                        <th style="font-size: 14px">Statuts</th>
                                        <th style="font-size: 14px">Type</th>
                                        <th style="font-size: 14px">Adresse</th>
                                        <th style="font-size: 14px">Etat</th>
                                        
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-info">
                                        <input id="c2" type="checkbox">
                                        <label for="c2"></label>
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="text-link">Kheweul.com</a></td>
                                          <td>actif</td>
                                          <td>Nationaux</td>
                                          <td> Fan Hock</td>
                                          <td> Suspendu</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-info">
                                        <input id="c3" type="checkbox">
                                        <label for="c3"></label>
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="text-link">OVH</a></td>
                                <td>bloqué</td>
                                <td>Nationaux</td>
                                <td> Fan Hock</td>
                                <td> Suspendu</td>
                            
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-info">
                                        <input id="c4" type="checkbox">
                                        <label for="c4"></label>
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="text-link">IKAN-Compagny</a></td>
                                <td>actif</td>
                                <td>Nationaux</td>
                                <td> Fan Hock</td>
                                <td> Suspendu</td>
                            
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-info">
                                        <input id="c5" type="checkbox">
                                        <label for="c5"></label>
                                    </div>
                                </td>
                                <td><a href="javascript:void(0);" class="text-link">NIC Senegal</a></td>
                                <td>actif</td>
                                <td>Nationaux</td>
                                <td> Fan Hock</td>
                                <td> Suspendu</td>
                            
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <ul class="pagination">
                    <li class="disabled"> <a href="#">1</a> </li>
                    <li class="active"> <a href="#">2</a> </li>
                    <li> <a href="#">3</a> </li>
                    <li> <a href="#">4</a> </li>
                    <li> <a href="#">5</a> </li>
                </ul>
                <a routerLink="/accueil/registrars/addregistrar"class="btn btn-success pull-right m-t-10 font-20">+</a>
            </div>
        </div>
    </div>


</div>
