<div class="page-wrapper">
 
  <!-- ===== Page-Container ===== -->
  <div class="container-fluid">
          <div class="row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="white-box user-table">
                          <div class="row">
                              <div class="col-sm-12">
                                  <h4 class="box-title">Liste des comptes </h4>
                              </div>
                              <div class="col-sm-12">
                                  <ul class="list-inline">
                                    <li>
                                        <button type="button" class="col-md-6">Bloquer</button>
                                        <button type="button" class="col-md-6">Activer</button>
                                        <button type="button" class="col-md-6">Modifier</button>
                                        <button type="button" class="col-md-6">Supprimer</button>
                                    </li> 
                                  </ul>
                                  
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>
                                              
                                          </th>
                                          <th>Identifiant</th>
                                          <th class="col-sm-3">Mot de passe</th>
                                          <th>Statut</th>
                                          <th>Date de création</th>
                                          
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c2" type="checkbox">
                                                  <label for="c2"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Kheweul@gmail.com</a></td>
                                          <td>repasser123</td>
                                          <td>Actif</td>
                                          <td> 5 Janvier 2019</td>
                                      
                                      </tr>
                                      <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c2" type="checkbox">
                                                <label for="c2"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">Ikan@gmail.com</a></td>
                                        <td>passer456</td>
                                        <td>bloqué</td>
                                        <td> 10 Février 2017</td>
                                    
                                    </tr>
                                    <tr>
                                      <td>
                                          <div class="checkbox checkbox-info">
                                              <input id="c2" type="checkbox">
                                              <label for="c2"></label>
                                          </div>
                                      </td>
                                      <td><a href="javascript:void(0);" class="text-link">nic@nic.sn</a></td>
                                      <td>registrySN</td>
                                      <td>Actif</td>
                                      <td> 1 Janvier 2007</td>
                                  
                                  </tr>
                                  <tr>
                                    <td>
                                        <div class="checkbox checkbox-info">
                                            <input id="c2" type="checkbox">
                                            <label for="c2"></label>
                                        </div>
                                    </td>
                                    <td><a href="javascript:void(0);" class="text-link">OVH@gmail.com</a></td>
                                    <td>ovh2019</td>
                                    <td>Actif</td>
                                    <td> 2 Novembre 2018</td>
                                
                                </tr>
                                  </tbody>
                              </table>
                          </div>
                          <ul class="pagination">
                              <li class="disabled"> <a href="#">1</a> </li>
                              <li class="active"> <a href="#">2</a> </li>
                              <li> <a href="#">3</a> </li>
                              <li> <a href="#">4</a> </li>
                              <li> <a href="#">5</a> </li>
                          </ul>
                          <a routerLink="/accueil/comptes/addcomptes" class="btn btn-success pull-right m-t-10 font-20">+</a>
                      </div>
                  </div>
                </div>
    
      <!-- ===== Right-Sidebar ===== -->
     
      <!-- ===== Right-Sidebar-End ===== -->
  </div>
  <!-- ===== Page-Container-End ===== -->

</div>
<!-- ===== Page-Content-End ===== -->
</div>

