<div class="page-wrapper">
 
  <!-- ===== Page-Container ===== -->
  <div class="container-fluid">
          <div class="row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="white-box user-table">
                          <div class="row">
                              <div class="col-sm-12">
                                  <h4 class="box-title">Liste les categories </h4>
                              </div>
                              <div class="col-sm-12">
                                  <ul class="list-inline">
                                    <li>
                                        <button type="button" class="col-md-12">Afficher</button>
                                        <button type="button" class="col-md-12">Supprimer</button>
                                    </li> 
                                  </ul>
                                  
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>
                                              
                                          </th>
                                          <th>Nom catégorie</th>
                                          <th>Tarif</th>
                                          <th>Date de création</th>
                                          
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c2" type="checkbox">
                                                  <label for="c2"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">mots de 2 lettres</a></td>
                                          <td> 3000 </td>
                                          <td> 5 Janvier 2019</td>
                                      
                                      </tr>
                                      <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c2" type="checkbox">
                                                <label for="c2"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">mots de 3 lettres</a></td>
                                        <td> 4000 </td>
                                        <td> 10 Février 2017</td>
                                    
                                    </tr>
                                
                                  </tbody>
                              </table>
                          </div>
                          <a routerLink="/accueil/premium/addcategorie" class="btn btn-success pull-right m-t-10 font-20">+</a>
                      </div>
                  </div>
                </div>
    
      <!-- ===== Right-Sidebar ===== -->
     
      <!-- ===== Right-Sidebar-End ===== -->
  </div>
  <!-- ===== Page-Container-End ===== -->

</div>
<!-- ===== Page-Content-End ===== -->
</div>



