
  <!-- ===== Page-Container ===== -->

<div class="container-fluid">
    
 


        <div class="row">
                <div class="col-md-12">
                    <div class="white-box user-table">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="box-title">Liste des catégories</h4>
                            </div>
                            <div class="col-sm-12">
                                <ul class="list-inline">
                                        <li>
                                                <button type="button" class="col-md-4" style="font-size: 15px">Modifier</button>
                                                <button type="button" class="col-md-4" style="font-size: 15px">Afficher</button>
                                                <button type="button" class="col-md-4" style="font-size: 15px">Supprimer</button>
                                            </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                            <th>
                                                      
                                                </th>
                                                <th style="font-size: 14px"> Nom </th>
                                                <th style="font-size: 14px">Description</th>
                                                <th style="font-size: 14px">Date de création</th>
                                                
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c2" type="checkbox">
                                                <label for="c2"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">mots de 2 lettres</a></td>
                                          <td> Ensemble des mots formés de 2 lettres </td>
                                          <td> 5 Janvier 2019</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox checkbox-info">
                                                <input id="c3" type="checkbox">
                                                <label for="c3"></label>
                                            </div>
                                        </td>
                                        <td><a href="javascript:void(0);" class="text-link">mots de 3 lettres</a></td>
                                        <td> Ensemble des mots formés de 3 lettres </td>
                                        <td> 5 Janvier 2019</td>
                                    
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination">
                            <li class="disabled"> <a href="#">1</a> </li>
                            <li class="active"> <a href="#">2</a> </li>
                            <li> <a href="#">3</a> </li>
                            <li> <a href="#">4</a> </li>
                            <li> <a href="#">5</a> </li>
                        </ul>
                        <a routerLink="/accueil/premium/addcategorie" class="btn btn-success pull-right m-t-10 font-20">+</a>
                    </div>
                </div>
            </div>
        
        
        </div>
        



