<div class="page-wrapper">
  <div class="container-fluid">
      <!-- .row -->
      <div class="row">
          <div class="col-sm-12">
              <div class="white-box">
                  
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-12">Nom du terme premium</label>
                          <div class="col-md-12">
                              <input type="text" class="form-control" > </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-12">Description </label>
                          <div class="col-md-12">
                              <textarea class="form-control" rows="5"></textarea>
                          </div>
                      </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Catégorie</label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                        <option value="">mots de 2 lettres</option>
                                        <option value="">mots de 3 lettres</option>
                                    </select>  
                                  </div>
                                
                          
                      
                        <!--/span-->
                      
                        <!--/span-->
                    </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block waves-effect waves-light" type="submit">Créer</button>
                </div>
            </div>
        </div>
    </div>
  </div>

</div>
