<div class="page-wrapper">
 
  <!-- ===== Page-Container ===== -->
  <div class="container-fluid">
          <div class="row">
              <div class="row">
                  <div class="col-md-12">
                      <div class="white-box user-table">
                          <div class="row">
                              <div class="col-sm-12">
                                  <h4 class="box-title">Liste des utilisateurs</h4>
                              </div>
                              <div class="col-sm-12">
                                  <ul class="list-inline">
                                      <li>
                                          <a href="javascript:void(0);" class="btn btn-default btn-outline font-16"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                      </li>
                                      <li>
                                          <a href="javascript:void(0);" class="btn btn-default btn-outline font-16"><i class="fa fa-commenting" aria-hidden="true"></i></a>
                                      </li>
                                  </ul>
                                  <select class="custom-select">
                                      <option selected>Trier par</option>
                                      <option value="1">Noms</option>
                                      <option value="2">Type</option>
                                      <option value="3">Profil</option>
                                      <option value="4">Action</option>
                                      <option value="5">Statuts</option>
                                  </select>
                              </div>
                          </div>
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c1" type="checkbox">
                                                  <label for="c1"></label>
                                              </div>
                                          </th>
                                          <th>Noms</th>
                                          <th>Statuts</th>
                                          <th>Type</th>
                                          <th>Profil</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c2" type="checkbox">
                                                  <label for="c2"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Rokhaya Diatta</a></td>
                                          <td>actif</td>
                                          <td>Post 1</td>
                                          <td><span class="label label-success">Admin</span></td>
                                          <td>
                                              <select class="custom-select">
                                                  <option value="1">Admin</option>
                                                  <option value="2">Technicien</option>
                                                  <option value="3">Comptable</option>
                                                  <option value="4">General</option>
                                              </select>
                                          </td> 
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c3" type="checkbox">
                                                  <label for="c3"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Bassine Ndiaye</a></td>
                                          <td>actif</td>
                                          <td>Post 2</td>
                                          <td><span class="label label-warning">Technicien</span> </td>
                                          <td>
                                              <select class="custom-select">
                                                  <option value="1">Modulator</option>
                                                  <option value="2">Admin</option>
                                                  <option value="3">Staff</option>
                                                  <option value="4">User</option>
                                                  <option value="5">General</option>
                                              </select>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c4" type="checkbox">
                                                  <label for="c4"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Alimah Ndiaye</a></td>
                                          <td>bloqué</td>
                                          <td>Post 3</td>
                                          <td><span class="label label-danger">comptable</span> </td>
                                          <td>
                                              <select class="custom-select">
                                                  <option value="1">Modulator</option>
                                                  <option value="2">Admin</option>
                                                  <option value="3">Staff</option>
                                                  <option value="4">User</option>
                                                  <option value="5">General</option>
                                              </select>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c5" type="checkbox">
                                                  <label for="c5"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">M.DIOUF</a></td>
                                          <td>actif</td>
                                          <td>Post 4</td>
                                          <td><span class="label label-danger">comptable</span> </td>
                                          <td>
                                              <select class="custom-select">
                                                  <option value="1">Modulator</option>
                                                  <option value="2">Admin</option>
                                                  <option value="3">Staff</option>
                                                  <option value="4">User</option>
                                                  <option value="5">General</option>
                                              </select>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="checkbox checkbox-info">
                                                  <input id="c6" type="checkbox">
                                                  <label for="c6"></label>
                                              </div>
                                          </td>
                                          <td><a href="javascript:void(0);" class="text-link">Fanta Bouba</a></td>
                                          <td>actif</td>
                                          <td>Posts 5</td>
                                          <td><span class="label label-success">Admin</span> </td>
                                          <td>
                                              <select class="custom-select">
                                                  <option value="1">Modulator</option>
                                                  <option value="2">Admin</option>
                                                  <option value="3">Staff</option>
                                                  <option value="4">User</option>
                                                  <option value="5">General</option>
                                              </select>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <ul class="pagination">
                              <li class="disabled"> <a href="#">1</a> </li>
                              <li class="active"> <a href="#">2</a> </li>
                              <li> <a href="#">3</a> </li>
                              <li> <a href="#">4</a> </li>
                              <li> <a href="#">5</a> </li>
                          </ul>
                          <a href="javascript:void(0);" class="btn btn-success pull-right m-t-10 font-20">+</a>
                      </div>
                  </div>
                </div>
    
      <!-- ===== Right-Sidebar ===== -->
     
      <!-- ===== Right-Sidebar-End ===== -->
  </div>
  <!-- ===== Page-Container-End ===== -->

</div>
<!-- ===== Page-Content-End ===== -->
</div>
