
  <div class="container-fluid">
      <!-- /.row -->
      <div class="row">
          <div class="col-md-12">
              <div class="white-box printableArea">
                  <h3><b>Facture</b> <span class="pull-right">#5669626</span></h3>
                  <hr>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="pull-left">
                              <address>
                                  <h3> &nbsp;<b class="text-danger">NIC Sénégal</b></h3>
                                  <p class="text-muted m-l-5">E/104,
                                      <br/> Cité claudel,
                                      <br/> DAKAR,
                                      <br/> SENEGAL</p>
                              </address>
                          </div>
                          <div class="pull-right text-right">
                              <address>
                                  <h4 class="font-bold">KHEWEUL,</h4>
                                  <p class="text-muted m-l-30">C-201,
                                      <br/> Sacré coeur,
                                      <br/> DAKAR,
                                      <br/> sENEGAL.</p>
                                  <p class="m-t-30"><b> Date d'envoie :</b> <i class="fa fa-calendar"></i> 23 Janvier 2019</p>
                                  <p><b>Date Limite :</b> <i class="fa fa-calendar"></i> 5 Février 2019</p>
                              </address>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="table-responsive m-t-40" style="clear: both;">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th class="text-center" style="font-size: 14px">id</th>
                                          <th style="font-size: 14px">Types de domaines</th>
                                          <th class="text-right" style="font-size: 14px">Nombres</th>
                                          <th class="text-right" style="font-size: 14px">Prix</th>
                                          <th class="text-right" style="font-size: 14px">Total</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="text-center">1</td>
                                          <td>Domaines standars</td>
                                          <td class="text-right">20 </td>
                                          <td class="text-right"> 5000 </td>
                                          <td class="text-right"> 100.000 </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">2</td>
                                          <td>Termes Premiums</td>
                                          <td class="text-right"> 0 </td>
                                          <td class="text-right"> 0 </td>
                                          <td class="text-right"> 0 </td>
                                      </tr>
                                      <tr>
                                          <td class="text-center">3</td>
                                          <td>Termes réservés</td>
                                          <td class="text-right"> 3 </td>
                                          <td class="text-right"> 5000 </td>
                                          <td class="text-right"> 15000 </td>
                                      </tr>
                                     
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="pull-right m-t-30 text-right">
                              <p style="font-size: 14px">Montant Total: 115.000</p>
                              
                          <div class="clearfix"></div>
                          <hr>
                          <div class="text-right">
                              <button class="btn btn-danger" type="submit" style="font-size: 14px"> Envoyer la facture </button>
                              <button id="print" class="btn btn-default btn-outline" type="button" style="font-size: 14px"> <span><i class="fa fa-print"></i> Imprimer</span> </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- .row -->
      <!-- /.row -->
      <!-- ===== Right-Sidebar ===== -->
     
      <!-- ===== Right-Sidebar-End ===== -->
  </div>
