
    <div class="row m-0">
        <div class="col-md-6 col-sm-12 info-box">
            <div class="media">
                <div class="media-left">
                    <span class="icoleaf bg-primary text-white"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="info-count text-blue">351</h3>
                    <p class="info-text font-12">Total enregistrements de domaines annuelle</p>
                    <span class="hr-line"></span>
                    <p class="info-ot font-15">Objectifs de l'année<span class="label label-rounded label-success">500</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 info-box">
            <div class="media">
                <div class="media-left">
                    <span class="icoleaf bg-primary text-white"><i class="mdi mdi-message-processing"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="info-count text-blue">68</h3>
                    <p class="info-text font-12"> Nombre de transfert en attente</p>
                    <span class="hr-line"></span>
                    <p class="info-ot font-15">Total transferts annuels validés<span class="label label-rounded label-danger">154</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-6 col-sm-12 info-box">
            <div class="media">
                <div class="media-left">
                    <span class="icoleaf bg-primary text-white"><i class="mdi mdi-scale"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="info-count text-blue">20</h3>
                    <p class="info-text font-12">Nombres de registrars gérés</p>
                    <span class="hr-line"></span>
                    <p class="info-ot font-15">Registrars nationaux: <span class="text-blue font-semibold">9</span></p>
                    <p class="info-ot font-15">Registrars internationaux: <span class="text-blue font-semibold">11</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 info-box b-r-0">
            <div class="media">
                <div class="media-left p-r-5">
                    <div id="earning" class="e" data-percent="60">
                        <div id="pending" class="p" data-percent="55"></div>
                        <div id="booking" class="b" data-percent="50"></div>
                    </div>
                </div>
                <div class="media-body">
                    <h2 class="text-blue font-22 m-t-0"> Total domaines: 351 </h2>
                    <ul class="p-0 m-b-20">
                        <li><i class="fa fa-circle m-r-5 text-primary"></i>62% &nbsp;.COM.SN : 217</li>
                        <li><i class="fa fa-circle m-r-5 text-primary"></i>3% &nbsp;.ORG.SN : 10</li>
                        <li><i class="fa fa-circle m-r-5 text-info"></i>35% &nbsp;.EDU.SN : 124</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <!-- ===== Page-Container ===== -->
<!-- 

 <div class="row m-0">
        <div *ngFor="let accueil of accueils" class="col-md-6 col-sm-12 info-box">
            <div class="media">
                <div class="media-left">
                    <span class="icoleaf bg-primary text-white"><i class="mdi mdi-checkbox-marked-circle-outline"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="info-count text-blue">342</h3>
                    <p class="info-text font-12">{{accueil.nom}}</p>
                    <span class="hr-line"></span>
                    <p class="info-ot font-15">Responsable : Amadou Ndiaye <span class="label label-rounded label-success">500</span></p>
                </div>
            </div>
        </div>
    </div>


-->



