  <div class="container-fluid">
      <!-- .row -->
      <div class="row">
          <div class="col-sm-12">
              <div class="white-box">
                  
                  <form class="form-horizontal">
                      <div class="form-group">
                          <label class="col-md-12"><h6>Nom du terme réservé</h6></label>
                          <div class="col-md-12">
                              <input type="text" class="form-control" style="font-size: 14px"> </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-12"><h6>Description/Justificatif</h6></label>
                          <div class="col-md-12">
                              <textarea class="form-control" rows="5" style="font-size: 14px"></textarea>
                          </div>
                      </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"><h6>Nom du tag</h6></label>
                                <div class="col-md-9">
                                    <select class="form-control" style="font-size: 13px">
                                        <option value="">Sport</option>
                                        <option value="">Culture</option>
                                    </select>  
                                  </div>
                                
                          
                      
                        <!--/span-->
                      
                        <!--/span-->
                    </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block waves-effect waves-light" type="submit" style="font-size: 16px">Créer</button>
                </div>
            </div>
        </div>
    </div>
  </div>



