
    <div class="container-fluid">
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="font-size: 16px" > INFORMATIONS REGISTRAR</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <div>
                                <div class="form-body">
                                    <h4 class="box-title"> IDENTITE REGISTRAR</h4>
                                    <hr class="m-t-0 m-b-40">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"> <h6>Nom</h6></label>
                                                <div class="col-md-9">
                                                    <input name="name" type="text" class="form-control" style="font-size: 14px" [(ngModel)]="name" ngModel required > 
                                                    <span *ngIf="name==''" style="color:red">Entrer le nom</span>
                                                 </div>
                                                    
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" style="font-size: 13px"><h6>Email</h6></label>
                                                <div class="col-md-9">
                                                    <input name="mail"  type="text" class="form-control" style="font-size: 14px" [(ngModel)]="mail" ngModel required> 
                                                    <span *ngIf="pasBon" style="color:red">Entrer l'email</span>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>URL</h6></label>
                                                <div class="col-md-9">
                                                    <input name="url"  class="form-control" style="font-size: 14px" [(ngModel)]="url" ngModel required type="text">   </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                            <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3"><h6>Fax</h6></label>
                                                        <div class="col-md-9">
                                                            <input ngtype="text" class="form-control" style="font-size: 14px" name="fax" [(ngModel)]="fax"  ngModel >  </div>
                                                    </div>
                                                </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>NINEA</h6></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" style="font-size: 14px" name="NINEA" [(ngModel)]="NINEA" ngModel required>  </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>Gurid du client</h6> </label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" style="font-size: 14px" name="GURID" [(ngModel)]="GURID" ngModel required> </div>
                                            </div>
                                        </div>
                                        
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>Chargé clientèle</h6></label>
                                                <div class="col-md-9">
                                                    <select class="form-control" data-placeholder="Choose a name" tabindex="1" style="font-size: 12px">
                                                        <option value="Personne 1">Personne 1</option>
                                                        <option value="Personne 2">Personne 2</option>
                                                        <option value="Personne 3">Personne 3</option>
                                                        <option value="Personne 4">Personne 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>Mode de paiement</h6></label>
                                                <div class="col-md-9">
                                                    <select class="form-control" data-placeholder="Choose a mode" tabindex="1" style="font-size: 12px">
                                                        <option value="Mode 1">Espèces </option>
                                                        <option value="Mode 2">Virement bancaire</option>
                                                        <option value="Mode 3">Chèque</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><h6>IDExterne</h6></label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" style="font-size: 14px" name="IDEXTERNE" [(ngModel)]="IDEXTERNE" ngModel>  </div>
                                                </div>
                                            </div>
                                        <!--/span-->
                                    </div>
                                    <h4 class="box-title">Adresse Postale</h4>
                                    <hr class="m-t-0 m-b-20">
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>Adresse</h6></label>
                                                <div class="col-md-9">
                                                    <input  type="text" class="form-control" style="font-size: 14px" name="adresse" [(ngModel)]="adresse" ngModel required> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><h6>Telephone</h6></label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" style="font-size: 14px" name="phone" [(ngModel)]="phone" ngModel> </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <!--/span-->
                                            <!--/span-->
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><h6>Pays</h6></label>
                                                    <div class="col-md-9">
                                                        <select class="form-control" style="font-size: 12px" name="country" [(ngModel)]="country" ngModel >
                                                            <ng-container *ngFor="let country of countries">     
                                                                <option [ngValue]="country.id">{{country.name}}
                                                                </option>
                                                            </ng-container>                                
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3"><h6>Ville</h6></label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" style="font-size: 12px" name="city_id" [(ngModel)]="city_id" ngModel >
                                                                <ng-container *ngFor="let city of cities">                   
                                                                    <option [ngValue]="city.id">{{city.name}}
                                                                        </option>
                                                                </ng-container>                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <!--/row-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--./row-->
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading" style="font-size: 16px"> Contact Admin</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            <form action="#">
                                <div class="form-body">
                                    <h3 class="box-title">Identité</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label"><h6>Prénoms</h6></label>
                                                <input type="text" id="firstName" class="form-control" style="font-size: 14px" > </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label"><h6>Nom</h6></label>
                                                <input type="text" id="lastName" class="form-control" style="font-size: 14px">  </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                  
                                    <!--/row-->
                                   
                                    <!--/row-->
                                    <h3 class="box-title m-t-0">Coordonnées</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label><h6>Email</h6></label>
                                                <input type="text" class="form-control" style="font-size: 14px"> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><h6>Télephone</h6></label>
                                                <input type="text" class="form-control" style="font-size: 14px"> </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label><h6>Fax</h6></label>
                                            <input type="text" class="form-control" style="font-size: 14px"> </div>
                                        </div>
                                        <!--/span-->
                                        
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: 16px"> Contact Technique</div>
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="box-title">Identité</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"><h6>Prénoms</h6></label>
                                                    <input type="text" id="firstName" class="form-control" style="font-size: 14px" > </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"><h6>Nom</h6></label>
                                                    <input type="text" id="lastName" class="form-control" style="font-size: 14px">  </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                      
                                        <!--/row-->
                                       
                                        <!--/row-->
                                        <h3 class="box-title m-t-0">Coordonnées</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label><h6>Email</h6></label>
                                                    <input type="text" class="form-control" style="font-size: 14px"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><h6>Télephone</h6></label>
                                                    <input type="text" class="form-control" style="font-size: 14px"> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><h6>Fax</h6></label>
                                                <input type="text" class="form-control" style="font-size: 14px"> </div>
                                            </div>
                                            <!--/span-->
                                            
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--./row-->
        <!--.row-->
      
        <!--./row-->
        <!--.row-->
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="font-size: 16px"> Contact Financier</div>
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <form action="#">
                                    <div class="form-body">
                                        <h3 class="box-title">Identité</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"><h6>Prénoms</h6></label>
                                                    <input type="text" id="firstName" class="form-control" style="font-size: 14px" > </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"><h6>Nom</h6></label>
                                                    <input type="text" id="lastName" class="form-control" style="font-size: 14px">  </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                      
                                        <!--/row-->
                                       
                                        <!--/row-->
                                        <h3 class="box-title m-t-0">Coordonnées</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label><h6>Email</h6></label>
                                                    <input type="text" class="form-control" style="font-size: 14px"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><h6>Télephone</h6></label>
                                                    <input type="text" class="form-control" style="font-size: 14px"> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label><h6>Fax</h6></label>
                                                <input type="text" class="form-control" style="font-size: 14px"> </div>
                                            </div>
                                            <!--/span-->
                                            
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-heading" style="font-size: 16px"> Contact NOC</div>
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    <form action="#">
                                        <div class="form-body">
                                            <h3 class="box-title">Identité</h3>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label"><h6>Prénoms</h6></label>
                                                        <input type="text" id="firstName" class="form-control" style="font-size: 14px" > </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label"><h6>Nom</h6></label>
                                                        <input type="text" id="lastName" class="form-control" style="font-size: 14px">  </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                          
                                            <!--/row-->
                                           
                                            <!--/row-->
                                            <h3 class="box-title m-t-0">Coordonnées</h3>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-4 ">
                                                    <div class="form-group">
                                                        <label><h6>Email</h6></label>
                                                        <input type="text" class="form-control" style="font-size: 14px"> </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><h6>Télephone</h6></label>
                                                        <input type="text" class="form-control" style="font-size: 14px"> </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label><h6>Fax</h6></label>
                                                    <input type="text" class="form-control" style="font-size: 14px"> </div>
                                                </div>
                                                <!--/span-->
                                                
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       
                <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="font-size: 16px"> Abuse Contact</div>
                                <div class="panel-wrapper collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <form action="#">
                                            <div class="form-body">
                                                <h3 class="box-title">Identité</h3>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label"><h6>Prénoms</h6></label>
                                                            <input type="text" id="firstName" class="form-control" style="font-size: 14px" > </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label"><h6>Nom</h6></label>
                                                            <input type="text" id="lastName" class="form-control" style="font-size: 14px">  </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <h3 class="box-title m-t-0">Coordonnées</h3>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-4 ">
                                                        <div class="form-group">
                                                            <label><h6>Email</h6></label>
                                                            <input type="text" class="form-control" style="font-size: 14px"> </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label><h6>Télephone</h6></label>
                                                            <input type="text" class="form-control" style="font-size: 14px"> </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label><h6>Fax</h6></label>
                                                        <input type="text" class="form-control" style="font-size: 14px"> </div>
                                                    </div>
                                                    <!--/span-->
                                                    
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button (click)="createRegistrar()" class="btn btn-info btn-lg btn-block waves-effect waves-light" type="submit" style="font-size: 16px"> Créer accréditation</button>
                        <p>{{name?.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->