<div class="page-wrapper">
  <div class="container-fluid">
      <!--.row-->
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
              <h3 class="box-title">Listes domaines .COM.SN</h3>
              <div class="table-responsive">
                  <table class="table color-table info-table">
                      <thead>
                          <tr>
                              <th>id</th>
                              <th>nom</th>
                              <th>Registrant</th>
                              <th>B.E</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>nom1</td>
                              <td>Bassine</td>
                              <td>NIC</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>nom2</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>nom3</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
              <h3 class="box-title">Listes domaines .ORG.SN</h3>
              <div class="table-responsive">
                  <table class="table color-table info-table">
                      <thead>
                          <tr>
                              <th>id</th>
                              <th>nom</th>
                              <th>Registrant</th>
                              <th>B.E</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>nom1</td>
                              <td>Bassine</td>
                              <td>NIC</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>nom2</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>nom3</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
              <h3 class="box-title">Listes domaines .EDU.SN</h3>
              <div class="table-responsive">
                  <table class="table color-table info-table">
                      <thead>
                          <tr>
                              <th>id</th>
                              <th>nom</th>
                              <th>Registrant</th>
                              <th>B.E</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>1</td>
                              <td>nom1</td>
                              <td>Bassine</td>
                              <td>NIC</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>nom2</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>nom3</td>
                            <td>Bassine</td>
                            <td>NIC</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
      </div>
     
     
  </div>
  <!-- /.container-fluid -->
</div>



<script src="assets/plugins/components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="js/sidebarmenu.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.js"></script>
    <!-- jQuery peity -->
    <script src="assets/plugins/components/peity/jquery.peity.min.js"></script>
    <script src="assets/plugins/components/peity/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="assets/plugins/components/styleswitcher/jQuery.style.switcher.js"></script>
